.huskycat-control {

    &.huskycat-images-radio-control {

        .huskycat-image-option {

            display: inline-block;
            max-width: 33.33%;
            padding: 3px;
            box-sizing: border-box;

            .huskycat-image-input {

                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked ~  {

                    .huskycat-image-wrapper {
                        
                        border-color: $color-focus-input;

                    }

                }
            
            }

            .huskycat-image-wrapper {

                display: inline-block;
                max-width: 100%;
                max-height: 60px;
                overflow: hidden;
                box-sizing: border-box;
                align-items: center;
                border: 3px solid $color-border-input;
                transition: border-color $duration-short $ease-out-quint, transform 100ms $ease-out-quint;

                img {

                    max-width: 100%;
                    display: block;
                    object-fit: cover;

                }

            }

        }

    }

}